<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Social Concert Map</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
      body { padding-top: 70px; };
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="<%= apiKeys.googleMaps %>"></script>
    <script type="text/javascript">

      function initialize() {
        navigator.geolocation.getCurrentPosition(function(data) {
          var mapOptions = {
            zoom: 11,
            center: {lat: data.coords.latitude, lng: data.coords.longitude},
            mapTypeId: google.maps.MapTypeId.MAP
          };
          return new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        });
      };

      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div>
          <!--<h1>Search for shows</h1>-->
          <form id="show-search">
            <input name="city" type="text" placeholder="City name">
            <input name="state" type="text" placeholder="State abbrev">
            <input name="date" type="date">
            <input type="submit">
          </form>
        </div>
    </div>
  </nav>
  

<div id="map-canvas"></div>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">

    $('#show-search').on('submit', function(event){
      event.preventDefault();
      var formData = {
        city: $(this).find('input[name="city"]').val(),
        state: $(this).find('input[name="state"]').val(),
        date: $(this).find('input[name="date"]').val(),
      };
      formData.city = formData.city.toLowerCase();
      formData.state = formData.state.toLowerCase();
      $.ajax({
        url: '/bandsInTown',
        data: formData,
        success: function(res){console.log(res)}
      });
    })

  </script>
  </body>
</html>
