<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Social Concert Map</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
      body { padding-top: 70px; };
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDADcp3AczDleifGLCOrAusMgPq_GUyXR4"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div>
          <form id="show-search" class="left">
            <input name="city" type="text" placeholder="City name">
            <input name="region" type="text" placeholder="Region/State/Country">
            <input name="date" type="date">
            <input type="submit">
          </form>
        </div>
      </div>
    </nav>

  <div id="map-canvas"></div>

  </body>
</html>
